@import url("./navbar.css");
@import url("./animations.css");
:root {
    --background: #000000;
    --text-color: #ffffff;
    --primary-red: #590100;
    --primary-green: #364d41;
}

html {
    background-color: var(--background);
    padding: 0;
    margin: 0;
    color: var(--text-color);
    display: flex;
    justify-content: center;
}

a, h1, h2, h3, h4, h5, p {
    color: var(--text-color); /* Ensuring text is white */
}


.fade-to-dark {
    color: var(--text-color); /* Starting color */
    transition: background-color 0.3s ease; /* Transition for smooth fade effect */
}

/* Hover pseudo-class to change the color */
.fade-to-dark:hover {
    color: var(--background); /* New color when hovered */
    cursor: pointer;
}

.container{
    text-align: center;
    min-width: 100%;
    
}