/* Styling for the navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Stretch across the screen */
    height: 50px; /* Adjust height as needed */
    background: var(--primary-red); /* Dark red background */
    z-index: 1000; /* Bring to front */
    display: flex;
    justify-content: space-evenly; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

.navbar span:hover{
    cursor: pointer;
}

.navbar a, h2 {
    color: var(--text-color) !important;
    text-decoration: none;
    position: relative;
    display: inline-block; /* Ensures the pseudo-element aligns correctly */
}

.navbar h2::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px; /* Thickness of the underline */
    bottom: 0; /* Adjust this if you want to change the vertical position of the underline */
    left: 0;
    background-color: currentColor; /* Color of the underline */
    transition: width 0.3s ease-in; /* Animates the width */
}

.navbar h2:hover::after {
    width: 100%; /* Full width on hover */
}





.sub-element-margin{
    margin: 10px;
}

.rotate-cog{
    animation: spin 8s linear infinite;
}


  
